body {
  margin: 0px;
}
.header {
  height: 56px;
  background-color: rgb(32, 32, 32);
}
.sidebar {
  width: 16%;
  height: 900px;
  background-color: rgb(33,33,33);
  float:left;
}
.main-body {
    width: 100%;
    background-color: rgb(24,24,24);
    height: 900px;
}

.main-header{
    background-color:rgb(32,32,32);
    background-color: blanchedalmond;
}
.menu-options{
    padding: 15px;
    width: 20px;
    margin-left: 11px;
    float:left;
}
.menu{
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.yt-logo{
    margin-top: 12px;
    margin-left: -6px;
    height: 34px;
    width: 127px;
    float: left;
}
.search-input{
    width: 36%;
    margin: 6px 0 0 15%;
    height: 23px;
    float: left;
    background-color: rgb(18,18,18);
    border: 1px solid hsl(0, 0%, 18.82%);
    padding: 8px;
    font-size: 16px;
    
}
/* .search-box{
    width: 36%;
    background-color: rgb(18,18,18);
    margin: 9px 0 0 15%;
    height: 39px;
    float: left;
} */
.search-btn{
    float: left;
    width: 5%;
    padding: 9px;
    background: rgb(50,50,50);
    color: white;
    font-size: 20px;
    border: 1px solid rgb(50,50,50);
    border-radius: 0 2px 2px 0;
    border-left: none;
    cursor: pointer;
    margin-top: 6px;
}


